*.class
*.log
*.iml
*.ipr
*.iws
.idea
.bloop/
.bsp 
.metals 
.vscode 
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
node_modules/
*.tsbuildinfo
.bsp/
.DS_Store
web/.DS_Store

project/.bloop